*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: verdana;
}

section{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(135 127 255);
}

.def-box-padrao{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.container{
  width: 100%;
  max-width: 600px;
  height: 600px;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-escolhas{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.box-resultado{
  height: 70px;
  align-items: center;
}

.box-buttons{
}

.box_score{
  width: 100%;
  height: auto;
  flex-direction: row;
  margin-top: 25px;

}

.box_score_inf_escolha{
  width: 100px;
  text-align: left;
}

h1{   
  font-family: "Knewave", system-ui;
  font-size: 50px;
  text-align: center;
  color: rgb(44, 44, 44);
}

span{
  font-family: "Knewave", system-ui;
  font-size: 20px;
  letter-spacing: 5px; 
}




.box_score_inf_placar{
  width: 150px;
}
.box_score_inf_maquina{
  width: 100px;
  text-align: right;

}

.jogador1{
  color: rgb(197, 75, 5);
  font-weight: bold;
}

.jogador2{
  color:rgb(151, 12, 179);
  font-weight: bold;
}


.jogador1 span, .jogador2 span{
  color: black;
  font-weight: lighter;
}




.resultado{
  width: auto;
  height: 30px;
  text-align: center;
}

.opcao{
  width: 55px;
  height: 55px;
  margin-right: 10px;
  transition: 0.5s ease-in-out; 
}

.opcao:hover{
  cursor: pointer;
  transform: scale(1.2);
}

button:hover{
  cursor: pointer;
}

#btn-reiniciar{
  margin-left: 20px;
}


.img-escolha {
  width: 110px;
  height: 110px;
}

/*txt color - ganhou/perdeu*/
.txt-ganhador{
  color: rgb(106, 155, 92);
}

.txt-perdedor{
  color: rgb(175, 104, 122);
}